@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@theme {
    --color-coffee-50: #e8d6d0;
    --color-coffee-200: #c89f94;
    --color-coffee-400: #a25f4b;
    --color-coffee-600: #743f2f;
    --font-Karla: "Karla", "sans-serif";
    --animate-slideDown: slideDown 0.4s ease-in-out;
    --animate-fadeIn: fadeIn 0.4s ease-in-out;
    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
@layer components {
    .ht-topmenu-expaned {
        @apply absolute top-10 z-50 w-full text-center bg-white;
    }
    .ht-top-menu-item {
        @apply relative py-1 cursor-pointer hover:text-gray-800 after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:w-0 after:lg:bg-coffee-200 after:lg:h-0.5 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300 [&_a]:py-2 [&_a]:block;
    }
    .ht-top-menu-item.active {
        @apply text-gray-800 after:lg:w-full;
    }
    .ht-icon {
        @apply w-5 h-5 inline-block;
    }
    .ht-icon-circle {
        @apply text-xs text-center rounded-full px-1.5;
    }
    .ht-subheadline {
        @apply flex items-center justify-center mb-24;
    }
    .ht-subheadline-label {
        @apply mx-4 text-xs font-medium tracking-widest text-center text-gray-500 uppercase lg:text-sm;
    }
    .ht-subheadline-deco-line {
        @apply w-8 h-px bg-gray-100;
    }
    .ht-button {
        @apply px-8 py-4 text-sm font-semibold tracking-wider text-center text-gray-900 uppercase cursor-pointer duration-300;
    }
}

@layer utilities {
    .ht-flex-center {
        @apply flex items-center justify-center;
    }
}
